*.iml
.gradle
.idea
build/
/local.properties
.DS_Store
/captures
/.gradletasknamecache
/app/app-alpha-debug.apk
/app/app-beta-debug.apk
/app/app-dev-debug.apk
/app/medel.apk
workspace
/app/app-beta-release.apk
/app/app-alpha-release.apk
log
freeline.py
freeline_project_description.json
freeline/
app/libs/alibabauth_accountlink-1.1.4.jar
app/libs/alibabauth_core-1.1.4.jar
app/libs/alibabauth_ext-1.1.4.jar
app/libs/alibabauth_ui-1.1.4.aar
app/libs/alibc_applink-2.0.0.9.jar
app/libs/alibc_trade_sdk-3.1.1.11.aar
app/libs/alipaySingle-20160825.jar
app/libs/app-monitor-sdk-2.5.1.3_for_bc_proguard.jar
app/libs/mtopsdk_allinone_open-1.2.2.4.jar
app/libs/securityguardaar3-5.1.81.aar
app/libs/utdid4all-1.1.5.3_proguard.jar
release_apks/
tools/*.apk
tools/*.zip
app/src/main/assets/DIY_MakeUpMaterials.zip
app/src/test/
update_info.txt
hprof/
